In [3]:
import pandas as pd

s3_path = "s3://km-data-lake/topics/km.purchases.raw.v1/raw_purchases/"

df = pd.read_parquet(
    s3_path,
    engine="pyarrow"
)

df.head(50)

,session_id,event_ts,item_id,price,quantity,event_type,dt,hour
0,382229,1396338419182,214820255,3769.0,1,purchase,2014-04-01,7
1,241223,1396338443107,214545935,7642.0,1,purchase,2014-04-01,7
2,197301,1396338445412,214717003,2931.0,2,purchase,2014-04-01,7
3,197301,1396338445518,214717003,2617.0,2,purchase,2014-04-01,7
4,443931,1396338555582,214684007,3245.0,1,purchase,2014-04-01,7
5,443931,1396338555587,214746386,18745.0,1,purchase,2014-04-01,7
6,29853,1396338581064,214716935,6177.0,1,purchase,2014-04-01,7
7,166428,1396338359625,214684513,10471.0,1,purchase,2014-04-01,7
8,469433,1396338392872,214587898,52255.0,1,purchase,2014-04-01,7
9,193342,1396338409783,214716928,2931.0,1,purchase,2014-04-01,7
10,66489,1396338443308,214717005,2408.0,2,purchase,2014-04-01,7
11,120041,1396338480828,214716947,1883.0,2,purchase,2014-04-01,7
12,18011,1396338556417,214840483,1674.0,1,purchase,2014-04-01,7
13,18011,1396338556512,214711817,11414.0,1,purchase,2014-04-01,7
14,15609,1396338627867,214716932,5759.0,2,purchase,2014-04-01,7
15,31851,1396338663091,214820231,1046.0,5,purchase,2014-04-01,7
16,263073,1768124992744,214716982,2617.0,1,purchase,2026-01-11,9
17,466654,1768125951256,214820812,313.0,1,purchase,2026-01-11,10
18,466654,1768125951272,214584907,4711.0,1,purchase,2026-01-11,10
19,185089,1768126410231,214819376,418.0,1,purchase,2026-01-11,10
20,185089,1768126410281,214819430,418.0,1,purchase,2026-01-11,10
21,185089,1768126410376,214716667,627.0,1,purchase,2026-01-11,10
22,185089,1768126410423,214819762,627.0,1,purchase,2026-01-11,10
23,185089,1768126410447,214819760,627.0,1,purchase,2026-01-11,10
24,494924,1768127777924,214832559,2092.0,1,purchase,2026-01-11,10
25,494924,1768127777926,214832557,2092.0,1,purchase,2026-01-11,10
26,6294,1768127846386,214696434,31311.0,1,purchase,2026-01-11,10
27,385286,1768127976809,214840483,1674.0,1,purchase,2026-01-11,10
28,6294,1768128233050,214696434,31311.0,1,purchase,2026-01-11,10
29,90821,1768128329750,214580413,19792.0,1,purchase,2026-01-11,10
30,193126,1768128991842,214690792,1570.0,1,purchase,2026-01-11,10
31,306892,1768127296868,214842420,889.0,3,purchase,2026-01-11,10
32,306892,1768127296908,214842577,931.0,2,purchase,2026-01-11,10
33,138708,1768127297546,214717007,2303.0,2,purchase,2026-01-11,10
34,74343,1768127342289,214840483,1674.0,1,purchase,2026-01-11,10
35,293141,1768127388959,214826874,1046.0,1,purchase,2026-01-11,10
36,293141,1768127388970,214821399,941.0,1,purchase,2026-01-11,10
37,293141,1768127422280,214826874,1046.0,1,purchase,2026-01-11,10
38,293141,1768127422282,214821399,941.0,1,purchase,2026-01-11,10
39,243689,1768128163473,214826893,627.0,2,purchase,2026-01-11,10
40,243689,1768128163481,214826844,1570.0,2,purchase,2026-01-11,10
41,340109,1768129050642,214667912,941.0,1,purchase,2026-01-11,10
42,340109,1768129050645,214748336,1046.0,1,purchase,2026-01-11,10
43,340109,1768129050649,214601233,627.0,1,purchase,2026-01-11,10
44,340109,1768129050655,214820400,418.0,1,purchase,2026-01-11,10
45,111337,1768129093166,214567052,5235.0,1,purchase,2026-01-11,10
46,41117,1768129116998,214821392,418.0,1,purchase,2026-01-11,10
47,41117,1768129116999,214717880,1046.0,1,purchase,2026-01-11,10
48,41117,1768129117034,214819577,627.0,1,purchase,2026-01-11,10
49,60712,1768129142855,214585395,4188.0,1,purchase,2026-01-11,10

In [20]:
df.shape

(345, 8)

In [4]:
import pandas as pd

s3_path = "s3://km-data-lake/topics/km.clicks.raw.v1/raw_clicks/"

df_clicks = pd.read_parquet(
    s3_path,
    engine="pyarrow"
)

df_clicks.head(50)

,session_id,event_ts,item_id,category,event_type,dt,hour
0,351646,1768121808630,214717005,None,click,2026-01-11,8
1,389654,1768121809073,214826705,None,click,2026-01-11,8
2,263073,1768121818593,214716982,None,click,2026-01-11,8
3,171168,1768121828636,214594678,None,click,2026-01-11,8
4,164903,1768121833840,214716935,None,click,2026-01-11,8
5,171168,1768121841116,214820231,None,click,2026-01-11,8
6,460339,1768121850988,214835287,None,click,2026-01-11,8
7,389654,1768121857242,214587557,None,click,2026-01-11,8
8,345618,1768121867875,214687685,None,click,2026-01-11,8
9,263073,1768121876125,214716982,None,click,2026-01-11,8
10,345618,1768121884402,214705119,None,click,2026-01-11,8
11,263073,1768121911404,214716982,None,click,2026-01-11,8
12,460339,1768121913832,214835287,None,click,2026-01-11,8
13,416919,1768121923369,214710787,None,click,2026-01-11,8
14,244234,1768121941666,214716941,None,click,2026-01-11,8
15,5182,1768121950225,214821026,None,click,2026-01-11,8
16,389654,1768121965234,214826705,None,click,2026-01-11,8
17,307164,1768121982878,214672963,None,click,2026-01-11,8
18,130467,1768121991167,214554519,None,click,2026-01-11,8
19,130467,1768121994873,214554519,None,click,2026-01-11,8
20,472167,1768121996896,214700990,None,click,2026-01-11,8
21,8171845,1768121828721,938,None,click,2026-01-11,8
22,8171845,1768121828731,925,None,click,2026-01-11,8
23,8171845,1768121828741,833,Electronics,click,2026-01-11,8
24,8171845,1768121828751,8,Electronics,click,2026-01-11,8
25,8171845,1768121828761,718,Fashion,click,2026-01-11,8
26,8171845,1768121828771,790,None,click,2026-01-11,8
27,8171845,1768121828781,701,Fashion,click,2026-01-11,8
28,8171845,1768121828791,15,Books,click,2026-01-11,8
29,8171845,1768121828801,841,None,click,2026-01-11,8
30,8171845,1768121828811,768,Fashion,click,2026-01-11,8
31,8171845,1768121828821,26,Books,click,2026-01-11,8
32,8171845,1768121828831,30,Electronics,click,2026-01-11,8
33,8171845,1768121828841,631,None,click,2026-01-11,8
34,8171845,1768121828851,552,Electronics,click,2026-01-11,8
35,8171845,1768121828861,774,Electronics,click,2026-01-11,8
36,8171845,1768121828871,73,Fashion,click,2026-01-11,8
37,8171845,1768121828881,49,Fashion,click,2026-01-11,8
38,8171845,1768121828891,599,None,click,2026-01-11,8
39,8171845,1768121828901,512,Fashion,click,2026-01-11,8
40,8171845,1768121828911,404,Electronics,click,2026-01-11,8
41,8171845,1768121828921,32,Fashion,click,2026-01-11,8
42,8171845,1768121828931,352,None,click,2026-01-11,8
43,8171845,1768121828941,327,Fashion,click,2026-01-11,8
44,8171845,1768121828951,150,Books,click,2026-01-11,8
45,8171845,1768121828961,687,Books,click,2026-01-11,8
46,8171845,1768121828971,99,Electronics,click,2026-01-11,8
47,8171845,1768121828981,5,Books,click,2026-01-11,8
48,8171845,1768121828991,9,Books,click,2026-01-11,8
49,8171845,1768121829001,625,None,click,2026-01-11,8

In [2]:
df_clicks.shape

(2976, 7)

In [ ]:
 cd /c/Users/USER/Desktop/bootcamp/project/Clickstream-Guardian/docker && docker-compose restart spark-streaming