In [23]:
import pandas as pd

s3_path = "s3://km-data-lake/topics/km.purchases.raw.v1/raw_purchases/"

df = pd.read_parquet(
    s3_path,
    engine="pyarrow"
)

df.head(50)

,session_id,event_ts,item_id,price,quantity,event_type,dt,hour
0,7099369,1768176014956,214702905,0.0,0,purchase,2026-01-12,0
1,7099369,1768176015019,214848622,0.0,0,purchase,2026-01-12,0
2,7099369,1768176015168,214849745,0.0,0,purchase,2026-01-12,0
3,7329074,1768176022249,214828882,0.0,0,purchase,2026-01-12,0
4,7329074,1768176022321,214853758,0.0,0,purchase,2026-01-12,0
5,7163332,1768176071663,214829672,0.0,0,purchase,2026-01-12,0
6,7301897,1768176095156,214844250,0.0,0,purchase,2026-01-12,0
7,7116791,1768176102433,214551885,0.0,0,purchase,2026-01-12,0
8,7291662,1768176106680,214848658,0.0,0,purchase,2026-01-12,0
9,7134784,1768176107127,214652885,0.0,0,purchase,2026-01-12,0
10,7077774,1768176129270,214844439,0.0,0,purchase,2026-01-12,0
11,7077774,1768176129273,214844394,0.0,0,purchase,2026-01-12,0
12,7066253,1768176149848,214643728,0.0,0,purchase,2026-01-12,0
13,7066253,1768176149902,214541366,0.0,0,purchase,2026-01-12,0
14,7168344,1768176152460,214849312,0.0,0,purchase,2026-01-12,0
15,7242657,1768176174991,214716982,0.0,0,purchase,2026-01-12,0
16,7142998,1768176204713,214849740,0.0,0,purchase,2026-01-12,0
17,7142998,1768176204827,214849185,0.0,0,purchase,2026-01-12,0
18,7142998,1768176204922,214849322,0.0,0,purchase,2026-01-12,0
19,7142998,1768176205014,214849766,0.0,0,purchase,2026-01-12,0
20,7249724,1768176223087,214844400,0.0,0,purchase,2026-01-12,0
21,7249724,1768176223087,214844372,0.0,0,purchase,2026-01-12,0
22,7259836,1768176225254,214712242,0.0,0,purchase,2026-01-12,0
23,7259836,1768176225258,214849093,0.0,0,purchase,2026-01-12,0
24,7314872,1768176237398,214846072,0.0,0,purchase,2026-01-12,0
25,7314872,1768176237443,214836924,0.0,0,purchase,2026-01-12,0
26,7314872,1768176237502,214849764,0.0,0,purchase,2026-01-12,0
27,7314872,1768176237546,214582346,0.0,0,purchase,2026-01-12,0
28,7314872,1768176237575,214849745,0.0,0,purchase,2026-01-12,0
29,7314872,1768176237633,214846475,0.0,0,purchase,2026-01-12,0
30,7314872,1768176237636,214848986,0.0,0,purchase,2026-01-12,0
31,7147674,1768176241714,214849031,0.0,0,purchase,2026-01-12,0
32,7147674,1768176241718,214849031,0.0,0,purchase,2026-01-12,0
33,7147674,1768176242411,214849031,0.0,0,purchase,2026-01-12,0
34,7025058,1768176304059,214584962,0.0,0,purchase,2026-01-12,0
35,7025058,1768176304081,214584999,0.0,0,purchase,2026-01-12,0
36,7212778,1768176322162,214573059,0.0,0,purchase,2026-01-12,0
37,7167748,1768176326667,214848656,0.0,0,purchase,2026-01-12,0
38,7181771,1768176334606,214854677,0.0,0,purchase,2026-01-12,0
39,7364781,1768176347678,214838872,0.0,0,purchase,2026-01-12,0
40,7364781,1768176347732,214836566,0.0,0,purchase,2026-01-12,0
41,7364781,1768176347848,214836947,0.0,0,purchase,2026-01-12,0
42,7364781,1768176347852,214836572,0.0,0,purchase,2026-01-12,0
43,7424742,1768176399831,214849766,0.0,0,purchase,2026-01-12,0
44,7424742,1768176401055,214849766,0.0,0,purchase,2026-01-12,0
45,7442126,1768176429226,214842733,0.0,0,purchase,2026-01-12,0
46,7281758,1768176439949,214849766,0.0,0,purchase,2026-01-12,0
47,7281758,1768176440005,214849363,0.0,0,purchase,2026-01-12,0
48,7111389,1768176475713,214827022,0.0,0,purchase,2026-01-12,0
49,7279618,1768176488442,214826739,0.0,0,purchase,2026-01-12,0

In [24]:
df.shape

(5340, 8)

In [25]:
import pandas as pd

s3_path = "s3://km-data-lake/topics/km.clicks.raw.v1/raw_clicks/"

df_clicks = pd.read_parquet(
    s3_path,
    engine="pyarrow"
)

df_clicks.head(50)

    session_id       event_ts    item_id category event_type          dt hour
0      7210571  1768176000010  214848622        3      click  2026-01-12    0
1      7018918  1768176000096  214850792        3      click  2026-01-12    0
2      7053199  1768176000448  214832015        1      click  2026-01-12    0
3      7074227  1768176001871  214837286        0      click  2026-01-12    0
4      7159489  1768176002292  214629990        4      click  2026-01-12    0
5      7415546  1768176003257  214846112        S      click  2026-01-12    0
6      7226961  1768176003390  214534689        2      click  2026-01-12    0
7      7071239  1768176003597  214645387        4      click  2026-01-12    0
8      7031124  1768176003887  214849331        S      click  2026-01-12    0
9      7372367  1768176004152  214844396        S      click  2026-01-12    0
10     7064353  1768176005386  214706113        S      click  2026-01-12    0
11     7358696  1768176005601  214850287        S      click  2026-01-12    0
12     7443924  1768176005648  214594678        0      click  2026-01-12    0
13     7070583  1768176005650  214587937        2      click  2026-01-12    0
14     7353121  1768176006237  214850295        S      click  2026-01-12    0
15     7413189  1768176006625  214849738        S      click  2026-01-12    0
16     7231839  1768176006675  214743356        S      click  2026-01-12    0
17     7314699  1768176006799  214821309        5      click  2026-01-12    0
18     7162221  1768176007308  214849740        S      click  2026-01-12    0
19     7293412  1768176007339  214643057        1      click  2026-01-12    0
20     7114126  1768176007509  214820272        0      click  2026-01-12    0
21     7131127  1768176008069  214601814        2      click  2026-01-12    0
22     7070798  1768176009355  214849762        S      click  2026-01-12    0
23     7315798  1768176011362  214688006        6      click  2026-01-12    0
24     7347766  1768176011855  214676516        1      click  2026-01-12    0
25     7046256  1768176013017  214706452        1      click  2026-01-12    0
26     7369802  1768176013256  214656380        0      click  2026-01-12    0
27     7233491  1768176014633  214843955        2      click  2026-01-12    0
28     7181073  1768176015217  214712237        0      click  2026-01-12    0
29     7043079  1768176015487  214828963        S      click  2026-01-12    0
30     7148339  1768176017756  214839275        9      click  2026-01-12    0
31     7059484  1768176018939  214515883        7      click  2026-01-12    0
32     7043206  1768176019151  214851009        S      click  2026-01-12    0
33     7186963  1768176019791  214835126        S      click  2026-01-12    0
34     7148339  1768176019838  214839275        9      click  2026-01-12    0
35     7273339  1768176020134  214849207        2      click  2026-01-12    0
36     7186963  1768176020903  214835126        S      click  2026-01-12    0
37     7427966  1768176021810  214844154        7      click  2026-01-12    0
38     7019436  1768176023684  214712237        0      click  2026-01-12    0
39     7277789  1768176023718  214550025        9      click  2026-01-12    0
40     7030488  1768176023772  214849736        S      click  2026-01-12    0
41     7354487  1768176023844  214849738        S      click  2026-01-12    0
42     7150451  1768176026678  214849807        S      click  2026-01-12    0
43     7356996  1768176026756  214820377        0      click  2026-01-12    0
44     7243484  1768176027149  214694308        1      click  2026-01-12    0
45     7419426  1768176028427  214850282        S      click  2026-01-12    0
46     7347766  1768176029388  214696423        1      click  2026-01-12    0
47     7383694  1768176030462  214696100        6      click  2026-01-12    0
48     7086206  1768176030739  214551763        2      click  2026-01-12    0
49     7304588  1768176030926  214853657        S      click  2026-01-12    0

In [26]:
df_clicks.shape

(122777, 7)